body {
    background-image: linear-gradient(green, red);
    margin: 0;
    padding: 0;
}
  

header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(red, yellow);
    color: black;
    padding: 40px 0;
    
}

header h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
    
}

header,  .portfolio {
    text-align: center;
    color: white;
    
}

a {
    display: inline;
    padding: 40px;
    color: black;
    text-decoration-line: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}


p {
    font-size: 16px;
}


.content .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    padding: 10px;
}

.container img {
    width: 33.33%;
    border-radius: 100px 0;
    padding-left: 30px;
}

.container h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: purple;
}

.container p {
    font-size: 18px;
    text-align: center;
    padding: 5px 50px 0;
}

.about-me {
    margin: 100px 0 30px 0;

}

.about-me h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-me p {
    font-size: 20px;
    text-align: center;
    padding: 10px 80px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
}

form {
    text-align: center;
    
}

form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-control input {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(158, 147, 147);
}

button {
    font-size: 20px;
    border-style: 5px solid;
    color: white;
    background-color: black;
    padding: 5px;
}

footer {
    text-align: center;
    font-size: 25px;
    margin: 40px 0 40px 0;
    padding-bottom: 40px;
}
