body {
    background-color: rgb(192, 183, 10);
}
  

.header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(165, 34, 34);
    color: black;
    display: flex;
    justify-content: center;
}

.header h1 {
    display: flex;
    font-size: 40px;
    
}

.header h1 .portfolio {
    color: white;
    display: flex;
    
}

 .nav-bar nav {
    background-color: pink;

}
 
.nav-bar nav ul {
    margin: 0 20px;
    padding: 20px;
    list-style-type: none; 
    
}

.nav-bar nav ul li  {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px; 
    justify-content: center;
    align-items: center; 
    
}

a {
    color: black;
    text-decoration-line: none;
}

p {
    font-size: 16px;
}

.content {
    width: 75%;
    display: grid;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0016bb;
    color: #ffffff;
}

#portfolio {
    display: inline-block;
}



.portfolio img {
    max-height: 200px;
}